/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}
/* Style the navigation bar */
nav {
    background-color: #333; /* Background color of the nav bar */
    overflow: hidden; /* Clear floats */
}

nav ul {
    list-style-type: none; /* Remove bullet points from list */
    margin: 0;
    padding: 0;
    display: flex; /* Display list items in a row */
}

nav ul li {
    flex: 1; /* Equally distribute the space among list items */
}

nav ul li a {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* Remove underline */
}

/* Change the link color on hover */
nav ul li a:hover {
    background-color: #111; /* Background color on hover */
}
